name: Android App Build & Distribution with macos caching

on:
  workflow_dispatch:
    inputs:
      flavor:
        description: "Choose which flavor to build"
        required: true
        default: "all"
        type: choice
        options:
          - all
          - checkcircle
          - favorite
          - star
          - bookmark
#  push:
#    branches:
#      - feature/BP-7162-github-flutter-ci
#  pull_request:
#    branches:
#      - production_v2  # PR must target main

env:
  FLUTTER_VERSION: 3.24.5
  ANDROID_SDK_VER: "35.0.0"
  ANDROID_SDK_VER_2: "34.0.0"
  ANDROID_PLATFORM_VER: "36"
  ANDROID_PLATFORM_VER_2: "34"
  ANDROID_PLATFORM_VER_3: "31"
  NDK_VER: "29.0.14033849"
  #  ANDROID_HOME: $HOME/Library/Android/sdk  # macOS Android SDK default
#  ANDROID_HOME: /Users/runner/Library/Android/sdk  # macOS Android SDK default

#   Extract list of flavors from encrypted config.json
jobs:
  extract-flavors:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: .
    outputs:
      flavors-json: ${{ steps.get-flavors.outputs.flavors-json }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install jq (only if missing)
        run: |
          if ! command -v jq &> /dev/null; then
            brew install jq
          else
            echo "jq already installed"
          fi

      - name: Decrypt config.json
        env:
          ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
        run: |
          openssl enc -aes-256-cbc -d -salt \
            -in config.json.enc -out config.json \
            -base64 -pass pass:"$ENCRYPTION_KEY"

      - name: Get and Filter flavors from config.json
        id: get-flavors
        run: |
          INPUT_FLAVOR="${{ github.event.inputs.flavor }}"
          
          if [ "$INPUT_FLAVOR" == "all" ]; then
            # If 'all' is requested, output the full list of flavors
            FLAVORS_TO_BUILD=$(jq -c '.apps | keys' config.json)
          else
            # If a specific flavor is requested, output only that flavor in a JSON array
            FLAVORS_TO_BUILD="[\"$INPUT_FLAVOR\"]"
          fi
          
          echo "flavors-json=$FLAVORS_TO_BUILD" >> "$GITHUB_OUTPUT"

  #   Pre-install & Cache ANDROID SDK + NDK + Flutter SDK + Flutter Artifacts
  setup-caches:
    needs: extract-flavors
    runs-on: macos-latest
    steps:
#      - uses: actions/checkout@v4

      # EXPORT ANDROID_HOME and ADD FLUTTER PATH
#      - name: Export ANDROID_HOME & PATH
#        run: |
#          echo "ANDROID_HOME=${{ env.ANDROID_HOME }}" >> $GITHUB_ENV
#          echo "$HOME/.flutter-sdk/bin" >> $GITHUB_PATH
#          echo "$ANDROID_HOME/cmdline-tools/latest/bin" >> $GITHUB_PATH
#          echo "$ANDROID_HOME/platform-tools" >> $GITHUB_PATH

      # ---------- Android + NDK Cache ----------
#      - name: Cache Android SDK
#        id: android-cache
#        uses: actions/cache@v4
#        with:
#          path: ${{ env.ANDROID_HOME }}
#          key: android-${{ runner.os }}-${{ env.ANDROID_SDK_VER }}-${{ env.NDK_VER }}

#      - name: Debug cache key
#        run: |
#          echo "Cache key: android-${{ env.ANDROID_SDK_VER }}-${{ env.NDK_VER }}"
#          echo "Cache hit: ${{ steps.android-cache.outputs.cache-hit }}"
#          echo "Cache condition: ${{ steps.android-cache.outputs.cache-hit != 'true' }}"
#          echo "ANDROID_HOME: ${{ env.ANDROID_HOME }}"

      # Setup Android SDK using requested configuration
      - name: Setup Android SDK
        uses: amyu/setup-android@v5
        with:
          cache-disabled: false
          # Using the requested custom cache key
          cache-key: android-${{ runner.os }}-${{ env.ANDROID_SDK_VER }}-${{ env.NDK_VER }}
          # Using environment variables as requested
          sdk-version: |
            ${{ env.ANDROID_PLATFORM_VER }}
            ${{ env.ANDROID_PLATFORM_VER_2 }}
            ${{ env.ANDROID_PLATFORM_VER_3 }}
          build-tools-version: |
            ${{ env.ANDROID_SDK_VER_2 }}
          ndk-version: ${{ env.NDK_VER }}
          command-line-tools-version: 10406996
          generate-job-summary: false

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true
          # optional parameters follow
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:" # optional, change this to force refresh cache
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:" # optional, change this to specify the cache path
#          pub-cache-key: "flutter-pub-:os:-:channel:-:version:-:arch:-:hash:" # optional, change this to force refresh cache of dart pub get dependencies
#          pub-cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:" # optional, change this to specify the cache path


      # Cache Ruby Gems + Bundler + Fastlane
      - name: Cache Ruby + Bundler + Fastlane
        uses: actions/cache@v4
        with:
          path: |
            ~/.gem
            ~/.bundle
            vendor/bundle
          key: ruby-gems-${{ runner.os }}-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ruby-gems-${{ runner.os }}-
            ruby-gems-

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true   # automatically installs and caches gems

      - name: Install Fastlane
        run: gem install fastlane -NV

#      - name: Run Flutter Doctor
#        run: flutter doctor -v

          #      - name: Install Android SDK & NDK (if cache-miss)
#        if: steps.android-cache.outputs.cache-hit != 'true'
#        run: |
#          for pkg in wget unzip; do
#            if ! command -v $pkg &> /dev/null; then
#              echo "Installing $pkg..."
#              brew install $pkg
#            else
#              echo "$pkg already installed"
#            fi
#          done
#
          # Temporary workspace
#          mkdir -p $HOME/android-tmp
#          cd $HOME/android-tmp
#
#          echo "Downloading command line tools..."
#          wget https://dl.google.com/android/repository/commandlinetools-mac-10406996_latest.zip -O tools.zip
#
#          echo "Extracting..."
#          unzip tools.zip
#          rm tools.zip

#          mkdir -p $ANDROID_HOME/cmdline-tools
#          mv cmdline-tools $ANDROID_HOME/cmdline-tools/latest
#
#          /bin/bash -c "yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses > /dev/null"
#
#          $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager \
#            "platform-tools" \
#            "platforms;${{ env.ANDROID_PLATFORM_VER }}" \
#            "build-tools;${{ env.ANDROID_SDK_VER }}" \
#            "ndk;${{ env.NDK_VER }}" \
#            "platforms;${{ env.ANDROID_PLATFORM_VER_2 }}" \
#            "build-tools;${{ env.ANDROID_SDK_VER_2 }}"

      # ---------- Flutter Cache ----------
#      - name: Cache Flutter SDK
#        id: flutter-cache
#        uses: actions/cache@v4
#        with:
#          path: ~/.flutter-sdk
#          key: flutter-${{ runner.os }}-${{ env.FLUTTER_VERSION }}
#
#      - name: Install Flutter SDK (if cache-miss)
#        if: steps.flutter-cache.outputs.cache-hit != 'true'
#        run: |
#          git clone https://github.com/flutter/flutter.git -b stable ~/.flutter-sdk
#          cd ~/.flutter-sdk
#          git checkout ${{ env.FLUTTER_VERSION }}
#
#       Add Flutter SDK bin to PATH
#      - name: Add Flutter SDK to PATH
#        run: echo "$HOME/.flutter-sdk/bin" >> $GITHUB_PATH
#
      # Run Flutter Doctor
#      - name: Run Flutter Doctor
#        run: flutter doctor -v

      # ---------- Cache Flutter Artifacts ----------
#      - name: Cache Flutter Build Artifacts
#        id: flutter-artifacts-cache
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.pub-cache
#            .dart_tool
#            $HOME/.flutter-sdk/bin/cache/artifacts
#          key: flutter-artifacts-${{ runner.os }}-${{ env.FLUTTER_VERSION }}

#      - name: Fetch Flutter Artifacts (if cache-miss)
#        if: steps.flutter-artifacts-cache.outputs.cache-hit != 'true'
#        run: |
#          flutter precache --android
#          flutter precache --macos


  build:
    needs: [extract-flavors, setup-caches]
    runs-on: macos-latest
    defaults:
      run:
        working-directory: .
    strategy:
      fail-fast: false
      max-parallel: 2  # limits parallel jobs to prevent memory overload
      matrix:
        flavor: ${{ fromJson(needs.extract-flavors.outputs.flavors-json) }}
    env:
      ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
      BUILD_FLAVOR: ${{ github.event.inputs.flavor || 'bookmark' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

#      - name: Restore Android SDK cache
#        uses: actions/cache/restore@v4
#        with:
#          path: ${{ env.ANDROID_HOME }}
#          key: android-${{ runner.os }}-${{ env.ANDROID_SDK_VER }}-${{ env.NDK_VER }}

      # Restore/Setup Android SDK and NDK using requested configuration
      - name: Restore/Setup Android SDK
        uses: amyu/setup-android@v5
        with:
          cache-disabled: false
          # Using the requested custom cache key
          cache-key: android-${{ runner.os }}-${{ env.ANDROID_SDK_VER }}-${{ env.NDK_VER }}
          # Using environment variables as requested
          sdk-version: ${{ env.ANDROID_PLATFORM_VER }}
          build-tools-version: ${{ env.ANDROID_SDK_VER }}
          ndk-version: ${{ env.NDK_VER }}
          command-line-tools-version: 19.0
          generate-job-summary: false

      - name: Restore
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true
          # optional parameters follow
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:" # optional, change this to force refresh cache
          cache-path: "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:" # optional, change this to specify the cache path

#      - name: Restore Flutter SDK cache
#        uses: actions/cache/restore@v4
#        with:
#          path: ~/.flutter-sdk
#          key: flutter-${{ runner.os }}-${{ env.FLUTTER_VERSION }}

#      - name: Restore Flutter Artifact Cache
#        uses: actions/cache/restore@v4
#        with:
#          path: |
#            ~/.pub-cache
#            .dart_tool
#            $HOME/.flutter-sdk/bin/cache/artifacts
#          key: flutter-artifacts-${{ runner.os }}-${{ env.FLUTTER_VERSION }}

      # Add Flutter SDK bin to PATH
#      - name: Add Flutter SDK to PATH
#        run: echo "$HOME/.flutter-sdk/bin" >> $GITHUB_PATH

      # Run Flutter Doctor
#      - name: Run Flutter Doctor
#        run: flutter doctor -v

      # ---------- Restore Dependency Caches ----------
#      - name: Restore dependencies cache
#        id: deps-restore
#        uses: actions/cache/restore@v4
#        with:
#          path: |
#            ~/.pub-cache
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: deps-${{ runner.os }}-${{ hashFiles('**/pubspec.lock') }}
#          restore-keys: deps-${{ runner.os }}-

      - name: Install jq
        run: |
          if ! command -v jq &> /dev/null; then
            brew install jq
          else
            echo "jq already installed"
          fi

      # ---------- Config ----------
      - name: Decrypt config.json
        run: |
          openssl enc -aes-256-cbc -d -salt \
            -in config.json.enc -out config.json \
            -base64 -pass pass:"$ENCRYPTION_KEY"

      - name: Load flavor config
        id: flavor-config
        run: |
          APP=${{ matrix.flavor }}
          PLAY_JSON=$(jq -c ".common.play.serviceAccountJson" config.json)
          echo "PLAY_PUBLISH_SERVICE_ACCOUNT_JSON=$PLAY_JSON" >> $GITHUB_ENV

          echo "KEYSTORE_BASE64=$(jq -r ".apps.${APP}.android.keystore.file_base64" config.json)" >> $GITHUB_ENV
          echo "KEYSTORE_PASSWORD=$(jq -r ".apps.${APP}.android.keystore.store_password" config.json)" >> $GITHUB_ENV
          echo "KEY_ALIAS=$(jq -r ".apps.${APP}.android.keystore.key_alias" config.json)" >> $GITHUB_ENV
          echo "KEY_PASSWORD=$(jq -r ".apps.${APP}.android.keystore.key_password" config.json)" >> $GITHUB_ENV

      # ---------- Keystore ----------
      - name: Setup keystore
        run: |
          mkdir -p android/keystore
          echo "$KEYSTORE_BASE64" | base64 --decode > "android/keystore/${{ matrix.flavor }}.jks"
          cat > android/signing.properties <<EOF
          ${{ matrix.flavor }}.storeFile=../keystore/${{ matrix.flavor }}.jks
          ${{ matrix.flavor }}.storePassword=$KEYSTORE_PASSWORD
          ${{ matrix.flavor }}.keyAlias=$KEY_ALIAS
          ${{ matrix.flavor }}.keyPassword=$KEY_PASSWORD
          EOF

      # ---------- ENV ----------
      - name: Setup env variables
        run: jq -r '.common.env | to_entries[] | "\(.key)=\(.value)"' config.json >> .env

      # ---------- ENV Part ----------
      - name: Generate env.g.dart
        run: dart run build_runner build --delete-conflicting-outputs

      # ---------- BUILD (AAB) ----------
      - name: Build AppBundle
        run: |
          flutter pub get
          flutter build appbundle \
            --flavor ${{ matrix.flavor }} \
            --release \
            -t lib/main_${{ matrix.flavor }}.dart

      # ---------- ARTIFACTS ----------
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.flavor }}-build
          path: build/app/outputs/bundle/${{ matrix.flavor }}Release/*.aab

      # ---------- Save Dependencies Cache (only once) ----------
#      - name: Save dependencies cache
#        if: steps.deps-restore.outputs.cache-hit != 'true'
#        uses: actions/cache/save@v4
#        with:
#          path: |
#            ~/.pub-cache
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: deps-${{ runner.os }}-${{ hashFiles('**/pubspec.lock') }}

      - name: Restore Ruby + Bundler + Fastlane Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gem
            ~/.bundle
            vendor/bundle
          key: ruby-gems-${{ runner.os }}-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ruby-gems-${{ runner.os }}-
            ruby-gems-

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true   # Will NOT reinstall if cache exists

      - name: Upload to Play Distribution with Fastlane
        run: |
          FLAVOR=${{ matrix.flavor }}
          AAB="build/app/outputs/bundle/${FLAVOR}Release/app-${FLAVOR}-release.aab"
          KEY="google-play-key.json"
          
          echo '${{ env.PLAY_PUBLISH_SERVICE_ACCOUNT_JSON }}' > $KEY
          
          PKG=$(grep "^${FLAVOR}\.applicationId=" android/flavors.properties | cut -d'=' -f2)
          
          fastlane supply \
            --aab "$AAB" \
            --package_name "$PKG" \
            --track production \
            --json_key "$KEY" \
            --metadata_path "./release-notes/metadata/android" \
            --rollout 1.0 \
            --skip_upload_metadata true \
            --skip_upload_images true \
            --skip_upload_screenshots true
          
          rm -f "$KEY"
